language: android
jdk: oraclejdk8
sudo: required
android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-28.0.2
    - android-27
    - extra-android-m2repository
    - extra-android-support
    - extra
  licenses:
    - android-sdk-license-.+
    - '.+'

script: ./gradlew build

before_install:
    - echo yes | sdkmanager "platforms;android-27"
    - yes | sdkmanager "platforms;android-27"
    - sudo apt-get update -qq
    - sudo apt-get install -y python2.7

install:
  - echo yes | sdkmanager "tools"
  - echo yes | sdkmanager "platforms;android-27" # Latest platform required by SDK tools
  - echo yes | sdkmanager "platforms;android-${API}"
  - echo yes | sdkmanager "tools"