language: android
sudo: required
android:
  components:
    - platform-tools
    - tools
    - build-tools-24.0.1
    - android-24
    - extra-android-m2repository
    - extra-android-support

script: ./gradlew build

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y python2.7
